// grid
$maxMobile: "(max-width: 767px)";
$minSmall: "(min-width: 768px)";
$minMedium: "(min-width: 992px)";
$minLarge: "(min-width: 1200px)";

// Colors
$main-color: #302840;
$second-color: #47395B;
$btn-color: #9E31A6;
$p-color: #d8d7d7bf;